{
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    },
    "development": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current", "browsers": "> 1%, not IE 9" } }]]
    },
    "production": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current", "browsers": "> 1%, not IE 9" } }]]
    }
  }
}
