{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "semi": "off",
    "no-extra-semi": "error"
  }
}
